/* == | BASE | == */
*{box-sizing:border-box;}

body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#14161c,#1c1f26,#20242e);
    background-size:200% 200%;
    color:white;
    overflow-x:hidden;
}

@keyframes bgMove{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#particles{
    position:fixed;
    inset:0;
    z-index:-1;
}
